@model JalaramTravels.ViewModel.TransactionDetailVM

@{
    ViewBag.Title = "Delivered Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header">Delivered Parcels  <small> Report </small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                      
                    </div>
                    <h4 class="panel-title">Details</h4>
                </div>
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmForm", enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(true)
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label for="Phone">Delivery Date</label>
                                    @Html.TextBoxFor(m => m.DeliveryDate, new
                               {
                                   @id = "DeliveryDate",
                                   @class = "form-control datepicker1",
                                   @placeholder = "Delivery Date"
                               })
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label for="Phone">Transaction Start Date</label>
                                    @Html.TextBoxFor(m => m.TransactionDate, new
                               {
                                   @id = "TransactionDate",
                                   @class = "form-control datepicker1" ,
                                   @placeholder = "Transaction Start Date"
                               })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label for="Phone">Transaction End Date</label>
                                    @Html.TextBoxFor(m => m.TransactionDateEnd, new
                               {
                                   @id = "TransactionDateEnd",
                                   @class = "form-control datepicker1",
                                   @placeholder = "Transaction End Date"
                               })
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <button type="button" id="btnSearch" class="btn btn-sm btn-primary m-r-5 btnM22">Search</button>
                                </div>
                            </div>


                        </div>
                        <div class="table-responsive">
                            <table id="example" class="table table-striped table-bordered nowrap" width="100%">
                                <thead>
                                    <tr>
                                        <th>Sr </th>
                                        <th>LRNo</th>
                                        <th>Transaction Date</th>
                                        <th>Delivered Date</th>
                                        <th>Amount</th>
                                        <th>Bus Name</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>CreatedBy</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    @{int i = 1;}
                                    @foreach (var item in Model.TransactionDetailList)
                                    {

                                        <tr class="odd gradeX">

                                            <td>
                                                @i

                                            </td>
                                            <td>@item.LRNo</td>
                                            <td>@item.TransactionDateS</td>
                                            <td>@item.DeliveryDateS</td>
                                            <td>@item.Amount</td>
                                            <td>@item.BusName</td>
                                            <td>@item.SenderName</td>
                                            <td>@item.ReceiverName</td>
                                            <td>@item.CreateUserString</td>
                                        </tr>
                                        i++;
                                    }



                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
            <!-- end panel -->
        </div>
    </div>
    <!-- end row -->
</div>

@section scripts {
    <script type="text/javascript">
        var model = @Html.Raw(Json.Encode(Model));
          
        $('#btnSearch').click(function () {

            var TransactionDate = $('#TransactionDate').val();
            if (TransactionDate == null || TransactionDate == "") {
                $.toast({
                    heading: 'error',
                    text: 'Please select Transaction Start Date.',
                    showHideTransition: 'fade',
                    position: 'top-right',
                    icon: 'error'
                })
                return false;
            }

            var TransactionDateEnd = $('#TransactionDateEnd').val();
            if (TransactionDateEnd == null || TransactionDateEnd == "") {
                $.toast({
                    heading: 'error',
                    text: 'Please select Transaction End Date.',
                    showHideTransition: 'fade',
                    position: 'top-right',
                    icon: 'error'
                })
                return false;
            }

            var TransactionDetailFiler={};
            TransactionDetailFiler.DeliveryDate=$('#DeliveryDate').val();
            TransactionDetailFiler.TransactionDate=TransactionDate;
            TransactionDetailFiler.TransactionDateEnd=TransactionDateEnd;

            $.ajax({
                url: '/Report/DeliveredFilter',
                dataType: 'json',
                data: { "transactionDetailFiler": TransactionDetailFiler },
                type: 'POST',
                success: function (resp) {
                    
                    $('#example').dataTable().fnClearTable();
                    var dataTable = $('#example').DataTable();

                    $.each(resp, function (i, val) {
                        dataTable.row.add([i+1,val.LRNo,val.TransactionDateS,val.DeliveryDateS,val.Amount,val.BusName,val.SenderName ,val.ReceiverName,val.CreateUserString]).draw();
                    });

                },
                error: function (req, status, err) {
                }
            });

        });


        $(document).ready(function() {
            
            $('#example').DataTable( {
                aLengthMenu: [
                [ -1],
                [ "All"]
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ],
               
                columnDefs: [ {
                    targets: -1,
                    visible: true
                } ]
            } );
        } );
    </script>
}
