@model JalaramTravels.ViewModel.TransactionDetailVM

@{
    ViewBag.Title = "Undelivered Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header">Undelivered Parcels  <small>  Report</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                    </div>
                    <h4 class="panel-title">Details</h4>
                </div>
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmForm", enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(true)
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label>Bus</label>
                                    @Html.DropDownListFor(m => m.BusID, Model.BusList, "-- Select Bus --", new { @class = " selectpicker", @data_size = "1000", @data_live_search = "true", @id = "ddlBus" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label for="Phone"> Transaction Start Date</label>
                                    @Html.TextBoxFor(m => m.TransactionDate, new
                               {
                                   @id = "TransactionDate",
                                   @class = "form-control datepicker1",
                                   @placeholder = "Transaction Start Date"
                               })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label for="Phone">Transaction End Date</label>
                                    @Html.TextBoxFor(m => m.TransactionDateEnd, new
                               {
                                   @id = "TransactionDateEnd",
                                   @class = "form-control datepicker1",
                                   @placeholder = "Transaction End Date"
                               })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <button type="button" id="btnFilter" class="btn btn-sm btn-primary m-r-5 btnM22">Filter</button>
                                </div>
                            </div>


                        </div>
                        <div class="table-responsive">
                            <table id="example" class="table table-striped table-bordered nowrap" width="100%">
                                <thead>
                                    <tr>
                                        <th> SR.</th>
                                        <th>Tr. Date</th>
                                        <th>LRNo</th>
                                        <th>Amount</th>
                                        <th>NOP</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Status</th>
                                        <th>Mode</th>
                                        <th>Parcel Type </th>
                                        <th>Parcel Containt</th>
                                        <th>Bus Name</th>
                                        <th>CreatedBY</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int i = 1;}
                                    @foreach (var item in Model.TransactionDetailList)
                                    {

                                        <tr class="odd gradeX">

                                            <td> @i </td>
                                            <td>@item.TransactionDateS</td>
                                            <td>@item.LRNo</td>
                                            <td>@item.Amount</td>
                                            <td>@item.NoOfParcel</td>
                                            <td>@item.SenderName</td>
                                            <td>@item.ReceiverName</td>
                                            <td>@item.DeliverdStatusString</td>
                                            <td>@item.PayTypeString</td>
                                            <td>@item.ParcelTypeString</td>
                                            <td>@item.ParcelContainerString</td>
                                            <td>@item.BusName</td>
                                            <td>@item.CreateUserString</td>
                                        </tr>
                                        i++;
                                    }



                                </tbody>
                            </table>
                        </div>
                    </div>

                                        }
            </div>
            <!-- end panel -->
        </div>
    </div>
    <!-- end row -->
</div>



@section scripts {
    <script type="text/javascript">
        var model = @Html.Raw(Json.Encode(Model));
        $('#btnFilter').click(function () {

            var ddlBus = $('#ddlBus').val();
            //if (ddlBus == 0) {
            //    $.toast({
            //        heading: 'error',
            //        text: 'Please Select Bus.',
            //        showHideTransition: 'fade',
            //        position: 'top-right',
            //        icon: 'error'
            //    })
            //    return false;
            //}

            var TransactionDate = $('#TransactionDate').val();
            if (TransactionDate == null || TransactionDate == "") {
                $.toast({
                    heading: 'error',
                    text: 'Please select Transaction Start Date.',
                    showHideTransition: 'fade',
                    position: 'top-right',
                    icon: 'error'
                })
                return false;
            }
            var TransactionDateEnd = $('#TransactionDateEnd').val();
            if (TransactionDateEnd == null || TransactionDateEnd == "") {
                $.toast({
                    heading: 'error',
                    text: 'Please select Transaction End Date.',
                    showHideTransition: 'fade',
                    position: 'top-right',
                    icon: 'error'
                })
                return false;
            }

            var TransactionDetailFiler={};
            TransactionDetailFiler.TransactionDate=TransactionDate;
            TransactionDetailFiler.TransactionDateEnd=TransactionDateEnd;
            TransactionDetailFiler.BusID=ddlBus;

            $.ajax({
                url: '/Report/TransactionFilter',
                dataType: 'json',
                data: { "transactionDetailFiler": TransactionDetailFiler },
                type: 'POST',
                success: function (resp) {
                    
                    $('#example').dataTable().fnClearTable();
                    var dataTable = $('#example').DataTable();

                    $.each(resp, function (i, val) {

                        dataTable.row.add([i+1,val.TransactionDateS,val.LRNo,val.Amount, val.NoOfParcel,val.SenderName ,val.ReceiverName,val.DeliverdStatusString,val.PayTypeString,val.ParcelTypeString,val.ParcelContainerString,val.BusName,val.CreateUserString]).draw();
                    });

                },
                error: function (req, status, err) {
                }
            });

        });
        $(document).ready(function() {
            $('#example').DataTable( {
                aLengthMenu: [
                [ -1],
                [ "All"]
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ],

                columnDefs: [ {
                    targets: -1,
                    visible: true
                } ]
            } );
        } );
    </script>
}
