@model JalaramTravels.ViewModel.ChangePasswordVM

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Change Password <small>Management</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="form-stuff-3">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        
                    </div>
                    <h4 class="panel-title">Default Style</h4>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("ChangePasswordPost", "Login", FormMethod.Post, new { @id = "frmCh", enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(true)

                        <fieldset>
                            <legend>Change Password</legend>
                            @Html.HiddenFor(m => m.LoginID, new { @id = "LoginID" })
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="exampleInputEmail1">Old Password</label>

                                @Html.PasswordFor(m => m.OldPassword, new
                           {
                               @id = "OldPassword",
                               @class = "form-control",
                               @data_validation = "required",
                               @placeholder = "Old Password"
                           })
                            </div>

                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="exampleInputEmail1">New Password</label>

                                @Html.PasswordFor(m => m.NewPassword, new
                           {
                               @id = "NewPassword",
                               @class = "form-control",
                               @data_validation = "required",
                               @placeholder = "New Password"
                           })
                            </div>

                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="exampleInputEmail1">Confirm Password</label>

                                @Html.PasswordFor(m => m.ConfirmPassword, new
                           {
                               @id = "ConfirmPassword",
                               @class = "form-control",
                               @data_validation = "required",
                               @placeholder = "Confirm Password"
                           })
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary m-r-5 btnM22">Submit</button>
                            <span id="error" class="hidden" style="color:red">Invalid password</span>
                        </fieldset>
                    }
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->

    </div>
    <!-- end row -->

</div>
<!-- end #content -->

@section scripts {
    <script type="text/javascript">
        var model = @Html.Raw(Json.Encode(Model));
        $("#frmCh").submit(function (e) {
            e.preventDefault();
            if (!$('#frmCh').isValid())
                return;
            var ChangePasswordVM = {};
            ChangePasswordVM.LoginID = $('#LoginID').val();
            ChangePasswordVM.OldPassword =$('#OldPassword').val();
            ChangePasswordVM.NewPassword =$('#NewPassword').val();
            ChangePasswordVM.ConfirmPassword =$('#ConfirmPassword').val();

            var NewPassword =$('#NewPassword').val();
            var ConfirmPassword =$('#ConfirmPassword').val();
            if (NewPassword != ConfirmPassword) {
                $('#NewPassword').val('');
                $('#ConfirmPassword').val('');
                $.toast({
                    heading: 'error',
                    text: 'Password & New Password not match',
                    showHideTransition: 'fade',
                    position: 'top-right',
                    icon: 'error'
                })
                return;
            }
            $('#error').addClass('hidden');
            $.ajax({
                url: '/Login/ChangePasswordPost',
                dataType: 'json',
                data: { "changePasswordVM": ChangePasswordVM },
                type: 'POST',
                success: function (resp) {
                    if (resp.Result) {
                        window.location.href = '/Login/LogOut';
                    }
                    else {
                        $('#error').show();
                        $('#error').removeClass('hidden');
                    }
                },
                error: function (req, status, err) {
                }
            });
        });
    </script>

}